body{
    font-family: trebuchet MS, Helvetica, sans-serif;
    background: #643d87 url(../imagens/fundo.jpg) no-repeat top center;
    width: 100%;
}

#container{
    width: 400px;
    height: 300px ;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0, auto;
    margin-top: 120px;
    text-align: center;
    margin-left: 550px;
}

#container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 50px;
}

#container [type="submit"]{
    cursor: pointer;

}

input{
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 40px;
    border: none;
   
}

input.email{
    background: url(../imagens/icone-usuario.png) no-repeat 10px #fff;
    

}

input.password{
    background: url(../imagens/icone-cadeado.png) no-repeat 10px #fff;
}

input.submit{
    color: #fff;
    background-color: #f79300;
    border: 2px solid #db7d00;
    text-align: center;
    padding: 5px 20px;
    height: 45px;
    width: 90%;


    background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
    background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
    background: -o-linear-gradient(to bottom, #faa600, #f68a00);
    background: linear-gradient(to bottom, #faa600, #f68a00)
}